/* styles.css */
section {
    flex-grow: 1;
    padding-bottom: 0;
}

/* html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
} */
body {
    background-color: #EEFCFE;
}

.scroll-top {
    color: white;
    border: 1px solid #41a9c9;
    background-color: #41a9c9;
    /* left: 50%; */
    border-radius: 50%;
    /* right: 100%; */
    position: absolute;
    /* z-index: 50; */
    /* margin: 0 10px; */
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    width: 45px;
    height: 45px;
    font-size: 23px;
    bottom: -500px;
    z-index: 99999;
    /* visibility: hidden; */
    right: 30px;
    transition: all 0.4s;
}

.scroll-top:hover{
    opacity: 90%;
}

/* .scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
} */

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }
/*Header/Nav bar*/
.header {
    color: black;
    background-color: #C2F0FF;
    padding: 6px 0;
}

.sitename {
    font-size: 32px;
    margin: 0;
    font-weight: 300;
    color: Black;
}

.logo {
    text-decoration: none;
    font-family: 'Rochester', cursive;
}

.header-social-links {
    padding-right: 15px;
}

.header-social-links a {
    color: black;
    padding-left: 8px;
    display: inline-block;
    font-size: 20px;
}

.navmenu a.active {
    color: #0F42F5;
}
.navmenu a {
    display: flex;
    color: black;
    font-size: 15px;
    text-decoration: none;
    padding: 0 6px;
} 
/* Mobile/Minimized Desktop */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: black;
      font-size: 28px;
      /* line-height: 0; */
      padding-right: 10px;
      cursor: pointer;
      transition: color 0.5s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 5000;
    }
  
    .navmenu ul {
      display: none;
      /* list-style: none; */
      position: absolute;
      /* padding: 10px 0; */
      padding: 10px 0;
      /* margin: 0; */
      inset: 65px 15px 5px 25px;
      background-color: white;
      opacity: 90%;
      border: 1px solid white;
      border-radius: 10px;
      box-shadow: none;
      overflow-y: auto;
      /* transition: 0.3s; */
      /* z-index: 9998; */
      z-index: 5000;
    }
  
    .navmenu a {
      color: black;
      padding: 15px 20px;
      /* font-family: var(--nav-font); */
      /* font-size: 17px; */
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin-bottom: 37px;
      /* transition: 0.3s; */
    }
  
    .navmenu a i{
      font-size: 12px;
      /* line-height: 0; */
      /* margin-left: 5px; */
      width: 30px;
      align-items: center;
      justify-content: center;
      /* height: 30px; */
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center; */
      /* border-radius: 50%; */
      /* transition: 0.3s; */
      /* background-color: color-mix(in srgb, var(--accent-color), transparent 90%); */
    }
  
    .navmenu a:hover {
      color: #17a3ce;
    }

    .navmenu .active:hover {
        color: #0F42F5;
    }
  
    /* .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-dropdown-hover-color);
    } */
  
    /* .navmenu .active i,
    .navmenu .active:focus i {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    } */
  
    /* .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      transition: all 0.5s ease-in-out;
    } */
  
    /* .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    } */
  
    /* .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    } */
  
    /* .mobile-nav-active {
      overflow: hidden;
    } */
  
    .mobile-nav-active .mobile-nav-toggle {
      color: white;
      position: absolute;
      top: 15px;
      /* right: 23px; */
      display: flex;
      margin: 0 10px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid #41a9c9;
      background-color: #41a9c9;
      transform: translateX(-50%);
      left: 50%;
      border-radius: 50%;
      padding-right: 0;
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      /* overflow: hidden; */
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
      text-align: center;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
}
/* Desktop View */
@media (min-width: 1200px) {
    .navmenu {
        padding-left: 120px;
    } /* change in small screen */
    .navmenu ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    .navmenu>ul>li {
        white-space: nowrap;
        padding: 15px 20px;
    } /* take out in small screen */
}
/*Footer*/
.footer {
    color: black;
    background-color: #C2F0FF;
    font-size: 14px;
    position: relative;
    display: flex;
    padding-left: 70px;
}
  
  .footer .copyright p {
    margin-bottom: 0;
    font-size: 14px;
    padding-top: 10px;
  }
  
  .footer .social-links {
    margin-top: 15px;
    padding: 5px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border: 1px solid #41a9c9;
    background-color: #41a9c9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    
  }
  
  .footer .credits {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 15px;
  }
@media (max-width: 1199px) {
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        display: block; 
        padding-bottom: 0;
    }
    footer {
        position: relative;
        margin-top: 0;
    }
}
/* Home */
.grad-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grad-photo img {
    width: 100%;
    height: 100%;
    opacity: 75%;
}
#enter {
    position: absolute;
    z-index: 1;
    padding-top: 150px;
}
@media (min-width: 1200px) {
    .enter-button {
        /* background: linear-gradient(45deg, #70c7f2, #fefefe); */
        background: linear-gradient(45deg, #70c7f2, #0F42F5);
        box-shadow: 0px 6px 0px #0d2c80, 0px 15px 20px rgba(0, 0, 0, 0.6);
        /* color: black;  */
        color: white;
        border: none; 
        padding: 12px; 
        font-size: 85px; 
        font-family: 'Rochester', cursive;
        cursor: pointer; 
        border-radius: 100px; 
        margin: 45px auto 0;
    }
}
/* Minimized Desktop */
@media (max-width: 1199px) {
    .enter-button {
        /* background: linear-gradient(45deg, #70c7f2, #fefefe); */
        background: linear-gradient(45deg, #70c7f2, #0F42F5);
        box-shadow: 0px 6px 0px #0d2c80, 0px 15px 20px rgba(0, 0, 0, 0.6);
        /* color: black;  */
        color: white;
        border: none; 
        padding: 12px; 
        font-size: 50px; 
        font-family: 'Rochester', cursive;
        cursor: pointer; 
        border-radius: 100px; 
        margin: 45px auto 0;
    }
}

.enter-button:active {
    transform: scale(0.95);
}

/* About */
.indent {
    text-indent: 30px;
}

.headshot-image img {
    width: 350px;
    height: 475px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px double rgba(15, 65, 245, 0.7);
}

.headshot-image {
    padding-top: 25px;
}

.about-content, .about-content-one, .about-content-two p {
    font-size: 20px;
    color: black;
    font-family: 'Ruwudu', regular;
}
/* Desktop */
@media (min-width: 1200px) {

    /* .headshot-image img {
        width: 350px;
        height: 475px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 6px double rgba(15, 65, 245, 0.7);
    } */

    .about-content, .about-content-one {
        display: flex;
        align-items: flex-start;
    }
    .about-content-two { /* ignore this content since the photo goes first*/
        display: none;
    }

    .about-text-one {
        flex: 100%;
        padding-left: 20px;
        padding-top: 20px;
    }

    .photo-boule {
        padding-right: 10px;
        padding-left: 10px;
    }

    .photo-boule img {
        margin-top: 20px;
        max-width: 245px;
        height: 350px;
        border:5px outset rgba(248, 172, 219, 0.7);
    }

    .about-text-two {
        flex: 100%;
        /* padding-right: 15px; */
        padding-left: 20px;
        margin-inline-end: 20px;
    }

    .photo-conference {
        padding-left: 20px;
    }
    .photo-conference img {
        margin-top: 7px;
        max-width: 225px;
        max-height: 230px;
        border:5px ridge rgba(250, 234, 21, 0.45);
    }
    .about-text-three {
        flex: 100%;
        padding-left: 20px;
        padding-top: 20px;
        margin-inline-end: 10px;
    }

    .photo-italy {
        padding-right: 15px;
        padding-top: 4px;
    }

    .photo-italy img {
        margin-top: 20px;
        width: 180px;
        max-height: 175px;
        border:5px groove rgba(110, 231, 255, 0.7);
    }

    .about-text-four {
        flex: 100%;
        padding-top: 20px;
        padding-left: 20px;
        margin-inline-end: 20px;
    }

    .about-text-five {
        flex: 100%;
        padding-top: 5px;
        padding-left: 20px;
        font-size: 20px;
        color: black;
        font-family: 'Ruwudu', regular;
    }
}

@media (max-width: 1199px) {
    .headshot-image {
        padding-top: 25px;
    }
    .about-content, .about-content-two {
        flex-direction: column;
        align-items: center;
    }
    .about-content-one { /* ignore this content since the paragraph goes first*/
        display: none;
    }
    .about-text-one {
        flex: 100%;
        padding-left: 20px;
        padding-top: 20px;
        margin-inline-end: 20px;
        text-align: center;
    }

    .photo-boule {
        /* padding-right: 10px;
        padding-left: 10px; */
        /* flex-direction: column; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 12px;
    }

    .photo-boule img {
        /* margin-top: 20px; */
        max-width: 245px;
        height: 350px;
        border:5px outset rgba(248, 172, 219, 0.7);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text-two {
        flex: 100%;
        /* padding-right: 15px; */
        padding-left: 20px;
        margin-inline-end: 20px;
        text-align: center;
    }

    /* .photo-conference {
        padding-left: 20px;
        order: 2;
        padding-bottom: 10px;
    } */
    .photo-conference img {
        /* max-width: 225px;
        max-height: 230px; */
        max-width: 325px;
        max-height: 330px;
        border:5px ridge rgba(250, 234, 21, 0.45);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about-text-three {
        flex: 100%;
        padding-left: 20px;
        padding-top: 20px;
        margin-inline-end: 20px;
        text-align: center;
    }

    /* .photo-italy {
        padding-bottom: 10px;
    } */

    .photo-italy img {
        /* margin-top: 10px; */
        width: 225px;
        max-height: 220px;
        border:5px groove rgba(110, 231, 255, 0.7);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text-four {
        flex: 100%;
        padding-top: 20px;
        /* padding-left: 20px; */
        margin-inline-end: 20px;
        text-align: center;
    }

    .about-text-five {
        flex: 100%;
        padding-top: 5px;
        /* padding-left: 20px; */
        font-size: 20px;
        color: black;
        font-family: 'Ruwudu', regular;
        text-align: center;
        margin-inline-end: 20px;
    }
}

/* Resume */
.pdf-text {
    text-align: center;
    padding-top: 40px;
}

.pdf {
    width: 100%;
    min-height: 600px;
    display: block;
}

/* Portfolio */
@media (min-width: 1200px) {
    .portfolio-mobile {
        display: none;
    }
    .portfolio p {
        font-family: 'Orbitron';
        text-align: center;
        padding-top: 25px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .portfolio table {
        width: 96%;
        border-collapse: separate;
        margin: 25px 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        text-align: left;
        outline: 2px solid #dddddd;
        border-radius: 25px;
        border-spacing: 0;
        overflow: hidden;
    }

    .portfolio th:first-child {
        border-top-left-radius: 25px;
    }

    .portfolio th:last-child {
        border-top-right-radius: 25px;
    }

    .portfolio tr:last-child td:first-child {
        border-bottom-left-radius: 25px;
    }

    .portfolio tr:last-child td:last-child {
        border-bottom-right-radius: 25px;
    }

    .portfolio td {
        padding: 5px;
        border: 2px solid #dddddd;
    }

    .portfolio th {
        padding: 10px;
        background-color: #f2f2f2;
        border: 2px solid #dddddd;
        text-align: center;
    }
    .portfolio tr {
        border: 2px solid #dddddd;
    }

    .portfolio tr:hover {
        background-color: #ffffff;
    }

    .portfolio .proj-name {
        width: 15%;
        text-align: center;
    }

    .portfolio .proj-desc {
        width: 40%;
    }
    .portfolio .proj-url {
        width: 5%;
    }
    .portfolio .proj-tech {
        width: 15%;
    }
    .portfolio .proj-demo {
        width: 10%;
        text-align: center;
    }
}
@media (max-width: 1199px) {
    .portfolio {
        display: none;
    }
    .portfolio-mobile p {
        font-family: 'Orbitron';
        text-align: center;
        padding-top: 25px;
        font-size: 14px;
        letter-spacing: 1px;
        margin-inline-start: 15px;
        margin-inline-end: 15px;
    }

    .portfolio-mobile table {
        width: 96%;
        border-collapse: separate;
        margin: 25px 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        text-align: left;
        outline: 2px solid #dddddd;
        border-radius: 25px;
        border-spacing: 0;
        overflow: hidden;
    }

    .portfolio-mobile th:first-child {
        border-top-left-radius: 25px;
    }

    .portfolio-mobile th:last-child {
        border-top-right-radius: 25px;
    }

    .portfolio-mobile tr:last-child td:first-child {
        border-bottom-left-radius: 25px;
    }

    .portfolio-mobile tr:last-child td:last-child {
        border-bottom-right-radius: 25px;
    }

    .portfolio-mobile td {
        padding: 5px;
        border: 2px solid #dddddd;
    }

    .portfolio-mobile th {
        padding: 10px;
        background-color: #f2f2f2;
        border: 2px solid #dddddd;
        text-align: center;
    }
    .portfolio-mobile tr {
        border: 2px solid #dddddd;
    }

    .portfolio-mobile tr:hover {
        background-color: #ffffff;
    }

    .portfolio-mobile .proj-name {
        width: 15%;
        text-align: center;
    }

    .portfolio-mobile .proj-desc {
        width: 40%;
    }
    .portfolio-mobile .proj-tech {
        width: 5%;
    }
}

/* Jams */
@media (min-width: 1200px) {
    .jams-intro {
        text-align: center;
        font-family: 'Arsenal', sans-serif;
        font-weight: 700;
        padding-top: 15px;
        font-size: 20px
    }

    .songs iframe {
        border-radius:12px;
        width: 100%;
        height: 80px;
    }
    .songs-mobile {
        display: none;
    }
}

@media (max-width: 1199px) {
    .jams-intro {
        text-align: center;
        font-family: 'Arsenal', sans-serif;
        font-weight: 700;
        padding-top: 15px;
        font-size: 20px
    }

    .songs-mobile {
        margin: 0 auto;
    }

    .songs-mobile iframe {
        border-radius:12px;
        width: auto;
        height: 80px;
    }
    .songs {
        display: none;
    }
}

/* Contact */
.contact-info .form-group .name label::after,
.contact-info .form-group .email label::after,
.message-info .form-group .form-message label::after {
    content: "*";
    color: red;
    margin-left: 2px;
    font-size: 15px;
}

@media (min-width: 1200px) {
    .contact {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .contact-socials {
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 10px;
        
    }
    .socials-background {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 8px;
        padding-right: 16px;
        outline: 1px solid #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        background: white;
    }
    .contact-socials a {
        color: black;
        padding-left: 9px;
        display: inline-block;
        font-size: 32px;
        padding-bottom: 13px;
        padding-top: 15px;
    }
    .contact-form {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 15px;
    }
    .form-background {
        outline: 1px solid #ffffff;
        /* border-radius: 15px; */
        width: 96%;
        min-height: 700px;
        /* display: block; */
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 20px;
        background: white;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }
    .form-background h2 {
        /* font-family: "Dancing Script"; */
        /* font-family: "Parisienne"; */
        /* font-family: "Yellowtail"; */
        font-family: "Rochester";
        text-align: center;
        font-size: 47px;
        color: #17a3ce;
        font-weight: 100px;
    }
    .form-background p {
        text-align: center;
        font-family: Georgia;
    }
    .contact-info {
        display: flex;
        align-items: flex-start;
    }
    .contact-info label {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
    }
    .contact-info input {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .contact-info .form-group {
        width: 50%;
        /* text-align: center; */
    }
    .contact-info .form-group .name {
        padding-left: 63px;
        padding-right: 25px;
        /* text-align: center; */
        padding-top: 15px;
        
    }
    .contact-info .form-group .email {
        /* padding-left: 2px; */
        padding-right: 63px;
        /* text-align: center; */
        padding-top: 15px;
    }
    .message-info {
        padding-top: 15px;
        display: grid;
        place-items: center;
    }
    .message-info label {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
    }
    .message-info input {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .message-info textarea {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .message-info .form-group {
        width: 90%;
        /* text-align: center; */
    }
    .message-info .form-group .subject {
        padding-top: 25px;
    }
    .message-info .form-group .form-message {
        padding-top: 25px;
    }
    .message-info .form-group .form-message textarea{
        height: 250px;
    }
    .form-btn {
        padding-top: 13px;
        padding-bottom: 12px;
        margin-top: auto;
        text-align: center;
    }
    .form-btn button{
        background: #0020C0;
        opacity: 80%;
        display: block;
        /* margin: auto; */
        width: 400px;
        font-size: 18px;
        padding-left: 10px;
        margin: 0 auto;
    }
}
@media (max-width: 1199px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact-socials {
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 10px;
    }
    .socials-background {
        /* padding-top: 7px; */
        /* padding-bottom: 7px; */
        /* padding-left: 8px;
        padding-right: 16px; */
        outline: 1px solid #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        background: white;
        display: flex;
        align-items: flex-start;
    }
    .contact-socials a {
        color: black;
        /* padding-left: 9px; */
        display: inline-block;
        font-size: 32px;
        /* padding-bottom: 13px; */
        /* padding-top: 15px; */
        /* padding: 20px; */
        padding: 20px;
    }
    .contact-form {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }
    .form-background {
        outline: 1px solid #ffffff;
        /* border-radius: 15px; */
        width: 100%;
        min-height: 700px;
        /* display: block; */
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 20px;
        background: white;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }
    .form-background h2 {
        /* font-family: "Dancing Script"; */
        /* font-family: "Parisienne"; */
        /* font-family: "Yellowtail"; */
        font-family: "Rochester";
        text-align: center;
        font-size: 47px;
        color: #17a3ce;
        font-weight: 100px;
        padding-left: 10px;

    }
    .form-background p {
        text-align: center;
        font-family: Georgia;
        padding-top: 20px;
        padding-left: 5px;
    }
    .contact-info {
        /* align-items: flex-start; */
        /* flex-direction: column;
        align-items: center; */
        display: grid;
        place-items: center;
    }
    .contact-info label {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
    }
    .contact-info input {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .contact-info .form-group {
        width: 90%;
        /* text-align: center; */
    }
    .contact-info .form-group .name {
        /* padding-left: 25px;
        padding-right: 25px; */
        /* text-align: center; */
        padding-top: 15px;
        
    }
    .contact-info .form-group .email {
        /* padding-left: 2px; */
        /* padding-right: 63px; */
        /* text-align: center; */
        /* padding-left: 25px;
        padding-right: 25px; */
        padding-top: 15px;
    }
    .message-info {
        padding-top: 15px;
        display: grid;
        place-items: center;
    }
    .message-info label {
        padding-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
    }
    .message-info input {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .message-info textarea {
        outline: 1px solid #000000;
        border-radius: 0;
    }
    .message-info .form-group {
        width: 90%;
        /* text-align: center; */
    }
    .message-info .form-group .subject {
        padding-top: 5px;
    }
    .message-info .form-group .form-message {
        padding-top: 25px;
    }
    .message-info .form-group .form-message textarea{
        height: 250px;
    }
    .form-btn {
        padding-top: 13px;
        padding-bottom: 12px;
        margin-top: auto;
        text-align: center;
    }
    .form-btn button{
        background: #0020C0;
        opacity: 80%;
        display: block;
        /* margin: auto; */
        width: 350px;
        font-size: 18px;
        padding-left: 10px;
        margin: 0 auto;
    }
}

/* Submitted */
.form-background .return-message {
    text-align: center;
    font-family: Georgia;
    padding-top: 50px;
    font-size: 20px;
    margin-inline-end: 15px;
    padding-left: 12px;
}