<!DOCTYPE html>
<html>
<head>
  <!-- Import fonts and css sheets -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header id="header" class="header align-items-center sticky-top">
      <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
          <h1 class="sitename">Alanza</h1>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/about"><b>About</b></a></li>
            <li><a href="/resume"><b>Resume</b></a></li>
            <li><a href="/portfolio" class="active"><b>Portfolio</b></a></li>
            <li><a href="/jams"><b>Jams</b></a></li>
            <li><a href="/contact"><b>Contact</b></a></li>
          </ul>
          <i class="mobile-nav-toggle bi bi-list" onclick="mobileNavCollapse()"></i>
        </nav>
      <div class="header-social-links">
        <a href="https://www.instagram.com/alanzablake" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/ablake12/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/ablake12/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
    </header>
    <section>
      <!-- Div for desktop portfolio -->
      <div class="portfolio">
        <p>Welcome to my portfolio page. Here is a collection of my various programming projects that showcase my skillset and interest in Software Engineering.</p>
        <table>
          <tr>
            <th class="proj-name">Name</th>
            <th class="proj-desc">Description</th>
            <th class="proj-url">URL</th>
            <th class="proj-tech">Tech Stack</th>
            <th class="proj-demo">Live Demo</th>
          </tr>
          <tr>
            <td class="proj-name"><a href="https://github.com/ablake12/Portfolio-Website/" target="_blank">Portfolio Website</a></td>
            <td class="proj-desc">The current website you're on! This website was created using Python Flask for the web framework. HTML, CSS, and Javascript were used along with Bootstrap, a CSS framework for more advanced styling. This website has a navigation bar that allows you to explore the six pages: Home, About, Resume, Portfolio, Jams, and Contact.</td>
            <td class="proj-url"><a href="https://github.com/ablake12/Portfolio-Website/" target="_blank">https://github.com/ablake12/Portfolio-Website/</a></td>
            <td class="proj-tech">Python, Flask, HTML, CSS, Javascript, Bootstrap, Figma, AWS Elastic Beanstalk</td>
            <td class="proj-demo"><a href="#" target="_blank">Demo</a></td>
          <tr>
          <tr>
            <td class="proj-name"><a href="https://github.com/ablake12/Book-Club-Go-API/" target="_blank">Book Club Go API</a></td>
            <td class="proj-desc">This project is a REST API that manages a virtual Book Club using SQLite for storing and managing the the data. Users can interact with this API through a User Interface or through Postman. This project has the functionality to make calls including filtering read and unread books, add a book, update the current book, update reviews, delete a book, and more. This project uses the Gin package in Go as its web framework.</td>
            <td class="proj-url"><a href="https://github.com/ablake12/Book-Club-Go-API/" target="_blank">https://github.com/ablake12/Book-Club-Go-API/</a></td>
            <td class="proj-tech">Go, Gin, HTML, CSS, Javascript</td>
            <td class="proj-demo"><a href="https://youtu.be/kjG412ypQd8" target="_blank">Demo</a></td>
          <tr>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/Book-Club-API" target="_blank">Book Club Python API</a></td>
              <td class="proj-desc">This project is a REST API that manages a virtual Book Club using SQLite for storing and managing the the data. Users can interact with this API through a User Interface or through Postman. This project has the functionality to make calls including get all books, add a book, add a review for a book, update reviews, delete all books, and more. This project uses the Flask library in Python as its web framework.</td>
              <td class="proj-url"><a href="https://github.com/ablake12/Book-Club-API" target="_blank">https://github.com/ablake12/Book-Club-API</a></td>
              <td class="proj-tech">Python, Flask, HTML, CSS, Javascript</td>
              <td class="proj-demo"><a href="https://youtu.be/xscMD6RMoXw" target="_blank">Demo</a></td>
            <tr>
            <tr>
                <td class="proj-name"><a href="https://github.com/ablake12/doc-summary-tool" target="_blank">Document Summary Tool</a></td>
                <td class="proj-desc">This project allows a user to get an extractive or abstractive summary of a pdf document, a word document, or an online article. These 3 document types are used as input and the documents are extracted and processed. Once the text is processed, the user can choose a summary type and find their summary generated in a text file.</td>
                <td class="proj-url"><a href="https://github.com/ablake12/doc-summary-tool" target="_blank">https://github.com/ablake12/doc-summary-tool</a></td>
                <td class="proj-tech">Python, Tkinter, Transformers, Beautiful Soup (bs4)</td>
                <td class="proj-demo"><a href="https://www.youtube.com/watch?v=hg0YrOxvaRA" target="_blank">Demo</a></td>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/To-Do-List" target="_blank">To-Do List</a></td>
              <td class="proj-desc">This project is intended for a user to create and manage a to-do list. It has the functionality to add due dates, trigger alerts for past and future due dates, export the checklist to a markdown file, and save the checklist for any future runs.</td>
              <td class="proj-url"><a href="https://github.com/ablake12/To-Do-List" target="_blank">https://github.com/ablake12/To-Do-List</a></td>
              <td class="proj-tech">Python, Tkinter</td>
              <td class="proj-demo"><a href="https://www.youtube.com/watch?v=m7iJluMRl9s" target="_blank">Demo</a></td>
            </tr>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/Python-projects" target="_blank">Various Python Projects</a></td>
              <td class="proj-desc">This repository consist of several smaller Python codes.</td>
              <td class="proj-url"><a href="https://github.com/ablake12/Python-projects" target="_blank">https://github.com/ablake12/Python-projects</a></td>
              <td class="proj-tech">Python</td>
              <td class="proj-demo">N/A</td>
            </tr>
        </table>
      </div>
      <!-- Div for mobile portfolio. Includes less/most necessary columns -->
      <div class="portfolio-mobile">
        <p>Welcome to my portfolio page. Here is a collection of my various programming projects that showcase my skillset and interest in Software Engineering.</p>
        <table>
          <tr>
            <th class="proj-name">Name</th>
            <th class="proj-desc">Description</th>
            <th class="proj-tech">Tech Stack</th>
          </tr>
          <tr>
            <td class="proj-name"><a href="https://github.com/ablake12/Portfolio-Website/" target="_blank">Portfolio Website</a></td>
            <td class="proj-desc">The current website you're on! This website was created using Python Flask for the web framework. HTML, CSS, and Javascript used along with Bootstrap, a CSS framework for more advanced styling. This website has a navigation bar that allows you to explore the six pages: Home, About, Resume, Portfolio, Jams, and Contact.</td>
            <td class="proj-tech">Python, Flask, HTML, CSS, Javascript, Bootstrap, Figma, AWS Elastic Beanstalk</td>
          <tr>
          <tr>
            <td class="proj-name"><a href="https://github.com/ablake12/Book-Club-Go-API/" target="_blank">Book Club Go API</a></td>
            <td class="proj-desc">This project is a REST API that manages a virtual Book Club using SQLite for storing and managing the the data. Users can interact with this API through a User Interface or through Postman. This project has the functionality to make calls including filtering read and unread books, add a book, update the current book, update reviews, delete a book, and more. This project uses the Gin package in Go as its web framework.</td>
            <td class="proj-tech">Go, Gin, HTML, CSS, Javascript</td>
          <tr>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/Book-Club-API" target="_blank">Book Club Python API</a></td>
              <td class="proj-desc">This project is a REST API that manages a virtual Book Club using SQLite for storing and managing the the data. Users can interact with this API through a User Interface or through Postman. This project has the functionality to make calls including get all books, add a book, add a review for a book, update reviews, delete all books, and more. This project uses the Flask library in Python as its web framework.</td>
              <td class="proj-tech">Python, Flask, HTML, CSS, Javascript</td>
            <tr>
            <tr>
                <td class="proj-name"><a href="https://github.com/ablake12/doc-summary-tool" target="_blank">Document Summary Tool</a></td>
                <td class="proj-desc">This project allows a user to get an extractive or abstractive summary of a pdf document, a word document, or an online article. These 3 document types are used as input and the documents are extracted and processed. Once the text is processed, the user can choose a summary type and find their summary generated in a text file.</td>
                <td class="proj-tech">Python, Tkinter, Transformers, Beautiful Soup (bs4)</td>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/To-Do-List" target="_blank">To-Do List</a></td>
              <td class="proj-desc">This project is intended for a user to create and manage a to-do list. It has the functionality to add due dates, trigger alerts for past and future due dates, export the checklist to a markdown file, and save the checklist for any future runs.</td>
              <td class="proj-tech">Python, Tkinter</td>
            </tr>
            <tr>
              <td class="proj-name"><a href="https://github.com/ablake12/Python-projects" target="_blank">Various Python Projects</a></td>
              <td class="proj-desc">This repository consist of several smaller Python programs.</td>
              <td class="proj-tech">Python</td>
            </tr>
        </table>
      </div>
    </section>
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright text-center">
          <p>© <span>Copyright</span> <strong>Alanza</strong> <span>All Rights Reserved<br></span></p>
        </div>
        <div class="social-links d-flex justify-content-center">
          <a href="https://www.instagram.com/alanzablake" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://github.com/ablake12/" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/ablake12/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="credits">
          Designed with <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </div>
      </div>
    </footer>
    <a id="scroll-top" class="scroll-top" onclick="goToTop()"><i class="bi bi-chevron-up"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>