<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><b>Home</b></a>
        <a href="/about"><b>About Me</b></a>
        <a href="/resume"><b>Resume</b></a>
        <a href="/projects"><b>Projects</b></a>
        <a href="/urls"><b>URLs</b></a>
        <a href="/contact" class="active"><b>Contact</b></a>
        <a href="javascript:void(0);" class="icon" onclick="activeFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- Contact Form -->
    <h2>Contact Me</h2>
    <div class="contact-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdCULbzU-7IreOQWk_ifpfotCpMAgZT6I2NVrWmco-exCdJrw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>